.social-media-wrapper {
    width: 100%;
    overflow: hidden;
}

.social-nav {
    display: none;

    @media all and (min-width: $bp-med) {
        display: block;
    }
}

.social-nav .social-media-links {

    @media all and (min-width: $bp-med) {
        text-align: center;
        list-style: none;
        padding: 10px 0 5px;
        overflow: hidden;
        float: right;

        li {
            width: 20px;
            height: 20px;
            float: left;
            margin-left: 10px;
            overflow: hidden;

            a {
                display: block;
                position: relative;
                @include transition(all, 0.2s, ease-in);

                &.fa-google:before {
                    content: "\f0d5";
                }

                &.fa-mail:before {
                    content: "\f003";
                }

                &.fa-vimeo:before {
                    content: "\f194";
                }

                &:hover {
                    text-decoration: none;
                    color: #07535C;
                }
            }
        }
    }
}
